.ui-repeater {
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid lighten($trim, 30%);
  min-height: 60px;
  padding: 15px 15px 5px 15px;
  position: relative;

  &__message {
    color: #cccccc;
    left: 15px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__row {
    background-color: #ffffff;
    border-radius: 4px;
    border: 1px dashed $borderColor;
    margin-bottom: 10px;
    padding: 5px 0 10px;
    position: relative;

    &:nth-child(even) {
      background-color: #f9fcfc;

      .form-control {
        border: 1px solid lighten($dev_site_background, 5%);
        background-color: #ffffff;
      }
    }
  }

  &__remove-btn {
    background-color: #ffffff;
    border: 1px solid $borderColor;
    color: $borderColor;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);

    .icon {
      pointer-events: none;
    }
  }

  &__add-btn {
    bottom: 0;
    position: absolute;
    right: 15px;
    transform: translate(50%, 50%);
  }
}