.blog {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  text-align: center;
  width: 100%;
  
  &__item {
    color: #000000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    float: none;
    margin: 0 auto 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    text-decoration: none;

    &:last-child {
      margin-bottom: 0;
    }

    h3 {
      margin: 0 0 10px 0;
      text-decoration: underline;
    }

    p {
      font-size: 14px;
      line-height: 1.4rem;
      margin: 0;
    }
  }

  &__featured {
    flex: 1 1 100%;
    margin: 0 auto 20px;
    max-width: 300px;
    overflow: hidden;
    position: relative;
    width: 100%;

    &:before, &:after {
      background-image: url('/static/img/hero_pattern_small.png');
      background-position: center top;
      background-repeat: repeat-x;
      background-size: contain;
      content: '';
      display: block;
      height: 10px;
      left: 0;
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    &:before {
      top: 0;
    }

    &:after {
      transform-origin: top left;
      transform: translateX(100%) rotate(180deg);
    }
  }

  &__text {
    text-align: left;

    a {
      color: #000000;
    }
  }

  &__categories {
    margin: 0 -4px 10px;

    a {
      background-color: #eee;
      border-radius: 12px;
      color: #555;
      display: inline-block;
      font-size: 10px;
      height: 18px;
      line-height: 18px;
      margin: 0 4px;
      padding: 0 6px;
      text-decoration: none;
      transition: background-color $menuSpeed, color $menuSpeed;
    }
  }

  &__pagination {
    text-align: center;
  }

  .pagination {
    display: inline-block;
    margin: 20px auto 0;
    padding-left: 0;

    & > li {
      
      &:first-child {

        & > a, & > span {
          margin-left: 0;
          border-bottom-left-radius: 4px;
          border-top-left-radius: 4px;
        }
      }

      &:last-child {

        & > a, & > span {
          margin-left: -1;
          border-bottom-right-radius: 4px;
          border-top-right-radius: 4px;
        }
      }
    }

    li {
      display: inline;

      a, span {
        position: relative;
        background-color: #fff;
        color: #000000;
        float: left;
        line-height: 1.42857143;
        margin-left: -1px;
        padding: 6px 12px;
        text-decoration: none;
        transition: background-color $menuSpeed;
      }

      a:hover {
        background-color: #eeeeee;
      }
    }
  }

  @include not-mobile() {
    padding: 40px;

    &__item {
      flex-direction: row;
      margin: 0 auto 60px;
      padding-bottom: 60px;

      h3 {
        font-size: 1.8rem;
        line-height: 1.6rem;
      }
    }

    &__featured {
      margin: 0 20px 0 0;
    }
  }
}